{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <br>
    <h2>Add MS2 Phage And Enter MS2 Lot Number</h2>
    <br>
    <form action="/qpcr_records/barcode_capture/" method="GET">
        {% csrf_token %}
        <div class="form-group col-md-4 mb-0">
            {{ form.ms2_lot_id|as_crispy_field }}
        </div>

        <button type="submit" class="btn btn-primary">Start</button>
    </form>
    <br>
    <br>
    {% endblock %}
