<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <link href="https://unpkg.com/tailwindcss@^1.2/dist/tailwind.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>
        DETECT Application
    </title>

</head>

<body class="container-fluid flex flex-column h-full px-0 bg-gray-100 antialiased font-sans">

    {% block sidebar %} {% include 'qpcr_records/navbars/navbar.html' %} {% endblock %}

    <!-- This is the content that our children templates populate (index.html, sample_plate_capture.html, etc) -->

    {% block content %} {% endblock %}

</body>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
    function success(msg) {
        $('form').on('submit', function(event) {
            if (!event.isDefaultPrevented()) {
                alert(msg);
            }
        });
    }

    function insertAfter(el, referenceNode) {
        referenceNode.parentNode.insertBefore(el, referenceNode.nextSibling);
    }

    function validateForm(field, conditionCallback, feedbackMsg) {
        /**
         * @param field - reference HTMLElement
         * @param conditionCallback - validation condition function
         * @param feedbackMsg - Validation error feedback message
         */

        if (!field)
            return;

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                var value = field.value.trim();
                var condition = conditionCallback();
                console.log(condition);
                // Check if condition is fulfilled
                if (!condition || !value) {
                    event.preventDefault();
                    event.stopPropagation();

                    field.classList.add('is-invalid');
                    $(field).next('.invalid-feedback').remove();

                    var feedback = document.createElement('div');
                    feedback.classList.add('invalid-feedback');

                    if (!condition) {
                        feedback.innerText = feedbackMsg;
                    } else {
                        feedback.innerText = 'Required!'
                    }

                    insertAfter(feedback, field);
                } else {
                    field.classList.remove('is-invalid');
                    field.classList.add('is-valid');
                }
            }, false);
        });
    }
</script>

</html>
