<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>
        Covid-19 Test App
    </title>
    <style>
        #header {
            background-color:black;
            color:white;
            text-align:center;
            height:40%
        }
    </style>
</head>
<body>
    <div id="header">
        <h1>Sampling Plate</h1>
    </div>

    <h3>Please confirm that the information below is correct. Edit any field accordingly if needed.</h3>
    <br>
    {% block content %}
    <form action="/qpcr_records/start_platemap/" method="GET" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.sampling_date|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form.rna_extraction_protocol|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form.qpcr_instrument|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.technician|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form.lab|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form.institute|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Proceed To Scan Plate Barcode</button>
    </form>
    {% endblock %}
</body>