{% extends 'qpcr_records/base.html' %} {% block content %}

<!-- Overall Cases -->

<div class="row mx-3">
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-primary card-title">Total Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.overall_num_tot_cases }}</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-danger card-title">Total Positive Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.overall_num_pos_cases }}
                    <small class="text-muted">({{ summary_data.overall_pct_pos_cases }})%</small>
                </h2>

            </div>
        </div>
    </div>
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-success card-title">Total Negative Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.overall_num_neg_cases }}
                    <small class="text-muted">({{ summary_data.overall_pct_neg_cases }})%</small>
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- Daily Cases -->

<div class="row mx-3">
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-primary card-title">Daily Total Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.today_num_tot_cases }}</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-danger card-title">Daily Positive Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.today_num_pos_cases }}
                    <small class="text-muted">({{ summary_data.today_pct_pos_cases }})%</small>
                </h2>

            </div>
        </div>
    </div>
    <div class="col-sm-3 p-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <h5 class="text-success card-title">Daily Negative Cases</h5>
                <h2 class="font-weight-lighter card-text">{{ summary_data.today_num_neg_cases }}
                    <small class="text-muted">({{ summary_data.today_pct_neg_cases }})%</small>
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="row mx-3 p-3">
    <div class="card shadow border-0 col-12 px-0">
            <h5 class="card-title">Daily Summary</h5>
            <div style="height: 400px;">
                {{ summary_data.main_plot | safe }}
            </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"></script>
{{ summary_data.plots_script | safe }}

<script>
function iniframe() {
    try {
        return window.self !== window.top;
        } catch (e) {
    return true;
    }
}

function hideNav() {
    if (iniframe()) {
        $('#main-navbar').remove();
    }
}

window.addEventListener("load", () => {
    hideNav();
});
</script>
{% endblock %}
