{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
    <h2 class="my-3">Perform Safety Checks</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="check1" required>
                    <label for="check1" class="form-check-label">
                        Facemask
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="check2" required>
                    <label for="check2" class="form-check-label">
                        Hood
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="check3" required>
                    <label for="check3" class="form-check-label">
                        Gloves
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-4 m-0 p-0">
            {{ form.lrl_id|as_crispy_field }}
        </div>

        <div class="col-md-4 m-0 p-0">
            {{ form.personnel2_andersen_lab|as_crispy_field }}
        </div>

        <button type="submit" class="btn btn-primary">Start</button>
    </form>

    {% endblock %}
