{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}


<div class="container">

    <h2 style="color:red"> Results for this qPCR plate ID already exist </h2>
    <h2> Do you want to upload a different file? </h2>
    <br>
    <form action="/qpcr_records/upload_qpcr_results/" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
    </form>
    <br>
    <form action="/qpcr_records/" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">No</button>
    </form>
    {% endblock %}
