{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
    <h2 class="my-3">Review Results</h2>
    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group col-md-5 p-0 mb-0">
                    {{ form.qrp_id|as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-primary">Start</button>
            </form>
        </div>
    </div>
</div>
    {% endblock %}
