{% extends 'qpcr_records/base.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container">
    <h1 class="display-h4">Mark Samples Returned to Rady's</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm</button>
            {% render_table table %}
        </form>
        {{ release_status }}
</div>
<script>
    function tableToForm() {
        var sample_release = {{ sample_release|safe }};
        console.log(sample_release);
        $("thead tr").append("<th>Released</th>");

        var i = 0;
        $("tbody tr").each(function() {
            var attributes = "";
            if (sample_release[i] == "true") {
                attributes = "checked disabled";
            }
            $(this).append("<td><input type='checkbox' value='true' name='release" + i + "' " + attributes + "></td>");
            i += 1;
        });
    }


    window.addEventListener("load", () => {
        tableToForm();
    });

</script>
{% endblock %}
