{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <form class="needs-validation" action="/qpcr_records/" method="GET" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form2.epm_id|as_crispy_field }}
            </div>
        </div>
        <br>
        <br>

        {% if messages %}
        <div class="alert alert-primary my-3">
            <ul>
                {% for message in messages %}
                <div class="font-weight-bold d-inline">ERROR: </div>{{message}}.
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form1.barcode1|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form1.barcode2|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form1.barcode3|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form1.barcode4|as_crispy_field }}
            </div>

            </div>
        <br>
        <br>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form2.rwp_id|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Assign Plates</button>
    </form>
</div>
<script>
window.addEventListener("load", () => {
    validateForm({{ form1.barcode1.id_for_label }}, () => {
        return {{ plates|safe }}.includes({{ form1.barcode1.id_for_label }}.value.trim());
    }, "Plate does not exist!");
    validateForm({{ form1.barcode2.id_for_label }}, () => {
        return {{ plates|safe }}.includes({{ form1.barcode2.id_for_label }}.value.trim());
    }, "Plate does not exist!");
    validateForm({{ form1.barcode3.id_for_label }}, () => {
        return {{ plates|safe }}.includes({{ form1.barcode3.id_for_label }}.value.trim());
    }, "Plate does not exist!");
    validateForm({{ form1.barcode4.id_for_label }}, () => {
        return {{ plates|safe }}.includes({{ form1.barcode4.id_for_label }}.value.trim());
    }, "Plate does not exist!");
});
</script>
{% endblock %}
