{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <form action="/qpcr_records/" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form1.sep_id|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form2.rep_id|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form2.rsp_id|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
