{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <div class="alert alert-primary my-3">
        <div class="font-weight-bold d-inline">Reminder: </div>Add MS2 PHAGE.
    </div>
    <form class="needs-validation" action="/qpcr_records/" method="GET" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form2.ms2_lot_id|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form2.kfr_id|as_crispy_field }}
            </div>
        </div>

        {% if messages %}
        <div class="alert alert-primary my-3">
            <ul>
                {% for message in messages %}
                <div class="font-weight-bold d-inline">ERROR: </div>{{message}}.
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form1.sep_id|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form2.rep_id|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form2.rsp_id|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Assign Plates</button>
    </form>
</div>
<script>

window.addEventListener("load", () => {
    validateForm({{ form1.sep_id.id_for_label }}, function() {
        var value = {{ form1.sep_id.id_for_label }}.value.trim();
        return {{ plates|safe }}.includes(value);
    }, "Plate does not exist!");
    success('Plates recorded successfully.');
});
</script>

{% endblock %}
