{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <div class="alert alert-primary my-3">
        <div class="font-weight-bold d-inline">Reminder: </div>Clear positive control well.
    </div>
    <form class="needs-validation" action="/qpcr_records/" method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form1.sep_id|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
                {{ form2.rep_id|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
function validateForm() {
    'use strict';
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
        var plates = {{ plates|safe }};
        if (!plates.includes(form1.sep_id)) {
            event.preventDefault();
            event.stopPropagation();

            if (!form1.sepid.classList.contains('is-invalid')){
                    form1.sepid.classList.add('is-invalid');
                    var invalidFeedback = document.createElement('div');
                    invalidFeedback.classList.add('invalid-feedback');
                    invalidFeedback.innerText = 'Plate has not been registered.';
                    var input = document.getElementById('{{ form1.sepid.id_for_label }}');
                    insertAfter(invalidFeedback, input);
                }
            }
            else {
                form1.sepid.classList.remove('is-invalid');
                form1.sepid.classList.add('is-valid');
            }
    }, false);
    });
};

window.addEventListener("load", () => {
    validateForm();
});
</script>

{% endblock %}
