{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <form class="needs-validation" action="/qpcr_records/" method="GET" novalidate>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form3.ms2_lot_id|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form1.rwp_id|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form2.qrp_id|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Assign Plates</button>
    </form>
</div>
<script>
window.addEventListener("load", () => {
    validateForm({{ form1.rwp_id.id_for_label }}, function() {
        var value = {{ form1.rwp_id.id_for_label }}.value.trim();
        return {{ plates|safe }}.includes(value);
    }, "Plate does not exist!");
    success('Plates reocrded successfully.');
});
</script>
    {% endblock %}
