{% extends 'qpcr_records/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container">
    <h2>Record Search Form</h2>
    <br>
    <br>
    <h2>Enter at least one field to search records</h2>
    <br>

    <form action="/qpcr_records/record_search/" method="get">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
{% endblock %}
