{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
    <div class="alert alert-danger my-3">
        <div class="font-weight-bold d-inline">ERROR: </div><br/><br/>
        No Search Term Was Entered.<br><br>
        To perform a successful search, please fill at least one search term into the search fields.
    </div>
</div>
{% endblock %}
