{% extends 'qpcr_records/base.html' %} {% block content %} {% load crispy_forms_tags %}


<div class="container">

    <h2> No matching barcode found in today's list. Do you want to continue ?</h2>
    <br>
    <form action="/qpcr_records/barcode_capture/" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
    </form>
    <br>
    <form action="/qpcr_records/" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">No. End Plate</button>
    </form>
    {% endblock %}
