{% extends "qpcr_records/base.html" %}

{% block content %}
<div class="container-fluid px-0">
  <!--Dash Content -->
  <div class="row">
    <div id="dash-content" class="bg-gray-200 d-flex flex-row flex-wrap py-6 p-0 col-md-4">
      <button class="col-md-12 col-sm-6 px-0" onclick="location.href = '/qpcr_records/scan_plate_2_3_barcode/';">
          <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
              <div class="flex flex-col items-center">
                  <div class="flex-shrink pr-4">
                      <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-plus-square fa-fw fa-inverse text-blue-600"></i></div>
                  </div>
                  <div class="flex-1">
                      <h3 class="font-bold text-gray-500 text-2xl">Update RNA Extraction Plate</h3>
                  </div>
              </div>
          </div>
      </button>

      <button class="col-md-12 col-sm-6 px-0" onclick="location.href = '/qpcr_records/scan_plate_arrayed_plate_barcode/';">
          <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
              <div class="flex flex-col items-center">
                  <div class="flex-shrink pr-4">
                      <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-plus-square fa-fw fa-inverse text-blue-600"></i></div>
                  </div>
                  <div class="flex-1">
                      <h3 class="font-bold text-gray-500 text-2xl">Update 384 Well Arrayed Plate</h3>
                  </div>
              </div>
          </div>
      </button>
        <button class="col-md-12 col-sm-6 px-0" onclick="location.href = '/qpcr_records/scan_plate_5_6_barcode/';">
          <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
              <div class="flex flex-col items-center">
                  <div class="flex-shrink pr-4">
                      <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-search fa-fw fa-inverse text-blue-600"></i></div>
                  </div>
                  <div class="flex-1">
                      <h3 class="font-bold text-gray-500 text-2xl">Update qPCR Reaction Plate</h3>
                      <br>
                  </div>
              </div>
          </div>
        </button>

        <button class="col-md-12 col-sm-6 px-0" onclick="location.href = '/qpcr_records/upload_qpcr_results/';">
          <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
              <div class="flex flex-col items-center">
                  <div class="flex-shrink pr-4">
                      <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-search fa-fw fa-inverse text-blue-600"></i></div>
                  </div>
                  <div class="flex-1">
                      <h3 class="font-bold text-gray-500 text-2xl">Upload qPCR Results</h3>
                      <br>
                  </div>
              </div>
          </div>
        </button>
        <button class="col-md-12 col-sm-6 px-0" onclick="location.href = '/qpcr_records/review_results/';">
          <div class="border-2 border-gray-400 border-dashed hover:border-transparent hover:bg-white hover:shadow-xl rounded p-6 m-2 md:mx-10 md:my-6">
              <div class="flex flex-col items-center">
                  <div class="flex-shrink pr-4">
                      <div class="rounded-full p-3 bg-gray-300"><i class="fas fa-search fa-fw fa-inverse text-blue-600"></i></div>
                  </div>
                  <div class="flex-1">
                      <h3 class="font-bold text-gray-500 text-2xl">Review qPCR Results</h3>
                      <br>
                  </div>
              </div>
          </div>
        </button>

  </div>
<!--Graph Content -->
  <div id="main-content" class="col-md-8 px-0">
      <!-- Text Information -->
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h1>Direct Tracking of Emergency COVID Tests</h1>
        <p></p>
        <h2>Sample Tracking Table</h2><br>
      </div>
      <div class="col-md-1"></div>

      <!--Sample Counter Tracking Content-->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="sample-counter-table">
          <table class="table table-bordered table-hover table-responsive-md">
            <thead>
              <tr>
                <th scope="col">Step Number</th>
                <th scope="col">Step Name</th>
                <th scope="col">Counter</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Unprocessed Samples</td>
                <td>{{ unproc_samples }}</td>
              </tr>
              <tr class="table-primary">
                <th scope="row">2</th>
                <td>Sample Extraction Plate (SEP)</td>
                <td>{{ sep_count }}</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">3</th>
                <td>RNA Elution Plate (REP)</td>
                <td>{{ rep_count }}</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">4</th>
                <td>RNA Working Plate (RWP)</td>
                <td>{{ rwp_count }}</td>
              </tr>
              <tr class="table-success">
                <th scope="row">5</th>
                <td>Running qPCR Plate (QRP)</td>
                <td>{{ q_running }}</td>
              </tr>
              <tr class="table-success">
                <th scope="row">6</th>
                <td>Recorded qPCR Plate (QRP)</td>
                <td>{{ q_recorded }}</td>
              </tr>
              <tr class="table-success">
                <th scope="row">7</th>
                <td>Processed qPCR Plate (QRP)</td>
                <td>{{ q_processed }}</td>
              </tr>
              <tr class="table-active">
                <th scope="row">8</th>
                <td>Cleared Data</td>
                <td>{{ data_cleared }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
