<!-- Side bar-->
            <ul class="list-reset ">
            <li class="my-2 md:my-0">
                <a href="/qpcr_records/" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
                    <i class="fas fa-home fa-fw mr-3"></i><span class="w-full inline-block pb-1 md:pb-0 text-sm">Home</span>
                </a>
            </li>
            <li class="my-2 md:my-0">
                <a href="#" class="block py-1 md:py-3 pl-1 align-middle text-gray-600 no-underline hover:text-indigo-400">
                    <i class="fas fa-chart-area fa-fw mr-3 text-indigo-400"></i><span class="w-full inline-block pb-1 md:pb-0 text-sm">Analytics</span>
                </a>
            </li>
        </ul>





{#<header class="bg-white shadow">#}
{#    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">#}
{#        {% if user.is_authenticated %}#}
{#        <h2 class="text-3xl font-bold leading-tight text-gray-900">#}
{#            User: {{ user.get_username }}#}
{#        </h2>#}
{#        <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>#}
{#        {% else %}#}
{#        <a href="{% url 'login'%}?next={{request.path}}">Login</a>#}
{#        {% endif %}#}
{#    </div>#}
{#  </header>#}
